GA_PROPERTY_ID=529541216
GOOGLE_APPLICATION_CREDENTIALS=credentials/tribal-thought-420102-83c01f6ad487.json

# Supabase 設定
SUPABASE_URL=https://tculinesupabse.zeabur.app
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
